<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>CALLIDA"18</title>
		<meta name="description" content="CALLIDA'18 is a state level technical symposium conducted by IT dept of MNMJEC" />
		<meta name="keywords" content="CALLIDA'18 is a state level technical symposium conducted by IT dept of MNMJEC" />
		<meta name="author" content="Vijay Krishnamoorthy"/>
		
		<!--Favicon-->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		
		<!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
		
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	
	<body id="body" data-ng-app="contactApp" class="dark-theme orange-color">
				
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<!--Navigation-->
		<div class="menu-wrap">
			<nav class="menu">
				<div id="menu" class="icon-list">
					<div data-menuanchor="home_sec" class="active"><a class="menu-link" href="#home_sec"><span>home</span></a></div>
					<div data-menuanchor="about_sec"><a class="menu-link" href="#about_sec"><span>about us</span></a></div>
					<div data-menuanchor="services_sec"><a class="menu-link" href="#services_sec"><span>Events</span></a></div>
					<div data-menuanchor="features_sec"><a class="menu-link" href="#features_sec"><span>features</span></a></div>
					<div data-menuanchor="video_sec"><a class="menu-link" href="#video_sec"><span>Promotion</span></a></div>
					<div data-menuanchor="portfolio_sec"><a class="menu-link" href="#portfolio_sec"><span>Core Team</span></a></div>
					<div data-menuanchor="team_sec"><a href="#team_sec"><span>Developers</span></a></div>
					<div data-menuanchor="contact_sec"><a href="#contact_sec"><span>contact</span></a></div>
					<div data-menuanchor="googlemap_sec"><a href="#googlemap_sec"><span>google map</span></a></div>
				</div>
			</nav>
		</div>
		
		<div class="right-patch">
			<div class="copywrite-wrap">
				<p class="copywrite"><b>Callida'18 &copy; 2018.</b></p>
			</div>
		</div>	
		<button class="menu-button hamburger hamburger--collapse" id="open-button">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
			
		<!--/Navigation-->
		
		<!--Fixed Bg Image-->
		<div id="const" class="wrapper-const full-height">
			<img src="img/bg1.png" alt="parallax_img"/>
			<div class="const-overlay"></div>
			<div id="particle-target" ></div>
		</div>	
		<!--/Fixed Bg Image-->
		
		<!--Main Content-->
		<div id="fullpage" class="content-wrap">
			
			<!--Home Sec-->
			<section class="section intro-sec text-center" id="section0">
				
				<div class="intro-sec-wrap sec-pad">
				
					<!--Logo-->
					<div class="logo">
						<img src="favicon.svg" alt="logo"/>
					</div>
					<!--/Logo-->
					
					<div class="container">
						<h5>
							<!--Counter-->
						<p id="demo" style="font-size:50px;font-family:sans">
						
						
						
						
						
						
						
						
						
						
						</p>
							<!--Counter-->
						</h5>
						

<img src="ca_animated.svg">
						<span class="btn btn-default md-trigger margin-top-85 margin-top-md-60 margin-top-sm-30" data-modal="modal-2">
							<span class="mask"></span>
							<span class="btn-label">
								<b>Register</b>
							</span>
						</span>
					</div>
					
					<!--Social Icons-->
					<ul class="social-icons col-sm-4 pad-zero">
						<li>
							<div>
								<a href="#" class="social-icon">
									<span class="fab fa-facebook"></span>
								</a>
							</div>	
						</li>
						<li>
							<div>
								<a href="#" class="social-icon">
									<span class="fab fa-twitter"></span>
								</a>
							</div>	
						</li>
						<li>
							<div>
								<a href="#" class="social-icon">
									<span class="fab fa-instagram"></span>
								</a>
							</div>	
						</li>
						<li>
							<div>
								<a href="http://www.youtube.com/callida18" class="social-icon">
									<span class="fab fa-youtube"></span>
								</a>
							</div>	
						</li>
					</ul>
					<!--/Social Icons-->
					<div class="clearfix"></div>
				</div>
				
			</section>
			<!--/Home Sec-->
			
			<!--About Sec-->
			<section class="section about-sec" id="section1">
				
				<div class="about-sec-wrap sec-pad-top sec-pad-bottom-sm">
					<div class="container">
						<h2 class="text-center wow fadeInUp" data-wow-duration=".8s">We work for a <i>purpose</i> &amp; we believe in it.</h2>
						<div class="row">
							<div class="col-sm-6">
								<p class="margin-bottom-30 wow fadeInLeft" data-wow-duration=".8s" style="font-size:15px; font-family:'Comic Sans MS', cursive, sans-serif; text-align:justify;">
									Callida'18 is state level technical symposium with an amalgamtion of technical events that will kindle your geeky side and non-technical events that will refresh your grey matter.
We have a spread of 11 events with 7 Technical and 4 Non-Technical which will leave you starstruck.
								</p>
							</div>
							<div class="col-sm-6">
								<p class="margin-bottom-30 wow fadeInRight" data-wow-duration=".8s" style="font-size:15px; font-family:'Comic Sans MS', cursive, sans-serif; text-align:justify;">
									There are prizes worth 40K for the winners.We have been ably guided by a team of 12 expert staff members backed by an excellent student force to make this grand fest much more extravagent.
								</p>
							</div>
						</div>
						<div class="about-features margin-top-27">
						
							<div class="row">
								<div class="col-lg-4  col-xs-6 margin-bottom-sm-30 icon-wrap wow fadeInUp" data-wow-duration=".8s">
									<span class="icon icon-adjustments"></span><h6>Technical Events</h6>
								</div>
								<div class="col-lg-4  col-xs-6 margin-bottom-sm-30 icon-wrap wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".2s">
									<span class="icon icon-twitter"></span><h6>Non Technical Events</h6>
								</div>
								<div class="col-lg-4  col-xs-6 margin-bottom-sm-30 icon-wrap wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".3s">
									<span class="icon icon-lock"></span><h6>Prizes</h6>
								</div>
								<!--
								<div class="col-lg-3  col-xs-6 margin-bottom-sm-30 icon-wrap wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".4s">
									<span class="icon icon-globe"></span><h6>multi browser support</h6>
								</div>
								-->
							</div>
						</div>
					</div>
				</div>	
			
			</section>
			<!--/About Sec-->
			
			<!--Services Sec-->
			<section class="section services-sec" id="section2">
				
				<div class="services-sec-wrap sec-pad">
					<div class="container">
						<h2 class="text-center wow fadeInUp" data-wow-duration=".8s"><i>EVENTS HIVE</i><br/></h2>
					</div>
					<div class="services-slider-wrap wow bounceIn" data-wow-duration=".8s">
						<div class="services-slider">
							<div class="services-item odd">
								<div class="service-item-wrap">
									<span class="icon icon-mobile"></span>
									<h3>PREZANTIUM</h3>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h3>PREZANTIUM</h3>
											<p>Paper Presentation</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item even">
								<div class="service-item-wrap">
									<span class="icon icon-tools-2"></span>
									<h3>ENDEC</h3>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h3>ENDEC</h3>
											<p>ENCRYPTION & DECRYPTION</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item odd">
								<div class="service-item-wrap">
									<span class="icon icon-telescope"></span>
									<h3>CASCADER</h3>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h3>CASCADER</h3>
											<p>WEB PAGE DESIGNING</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item even">
								<div class="service-item-wrap">
									<span class="icon icon-tools"></span>
									<h3>CODE GEASS</h3>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h3>CODE GEASS</h3>
											<p>CODING & DEBUGGING</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item odd">
								<div class="service-item-wrap">
									<span class="icon icon-telescope"></span>
									<h3>NETCRUNCH</h3>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h3>NETCRUNCH</h3>
											<p>NETWORKING</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item even">
								<div class="service-item-wrap">
									<span class="icon icon-tools"></span>
									<h3>CODE ZONE</h3>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h3>CODE ZONE</h3>
											<p>ONLINE PROGRAMMING CONTEST</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item odd">
								<div class="service-item-wrap">
									<span class="icon icon-telescope"></span>
									<h3>FESTINO</h3>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h3>FESTINO</h3>
											<p>MUTE ACT</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item even">
								<div class="service-item-wrap">
									<span class="icon icon-tools"></span>
									<h3>AD-O-HOLIC</h3>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h3>AD-O-HOLIC</h3>
											<p>ADZAP</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item odd">
								<div class="service-item-wrap">
									<span class="icon icon-telescope"></span>
									<h3>DUBSHOOT</h3>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h3>DUBSHOOT </h3>
											<p>MUSICAL.LY</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item even">
								<div class="service-item-wrap">
									<span class="icon icon-tools"></span>
									<h3>INVICTUS</h3>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h3>INVICTUS</h3>
											<p>GAMMING</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item odd">
								<div class="service-item-wrap">
									<span class="icon icon-tools"></span>
									<h3>IT CARNIVAL</h3>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h3>IT CARNIVAL</h3>
											<p>MINI FAIR</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
						</div>
					</div>	
				</div>
				
				
			</section>
			<!--/Services Sec-->
			
			<!--Features Sec-->
			<section class="section features-sec" id="section3">
				
				<div class="features-sec-wrap sec-pad">
					<div class="container">
						<h2 class="text-center wow fadeInUp" data-wow-duration=".8s"><i>DEPARTMENT OF INFORMATION TECHNOLOGY</i><br/></h2>
						<div class="features-wrap">
							<div class="row-wrap">

								<div class="col-lg-4  col-xs-6 pad-zero features-block">
										<div class="wow bounceIn" data-wow-duration=".8s">
											<div class="fb-table icon-wrap">
												<div class="fb-table-cell">
													<div>
														<span class="icon icon-anchor"></span>
														<h6>Vision<br/></h6>
													</div>	
													<p class="fb-table">
														<b class="fb-table-cell" style="text-align:justify";>
														To produce high quality, creative and ethical engineers and technologists contributing effectively for the ever advancing Information Technology field. 
														</b>
													</p>	
												</div>
											</div>	
										</div>	
									</div>
								<div class="col-lg-4  col-xs-6 pad-zero features-block">
									<div class="wow bounceIn" data-wow-duration=".8s">
										<div class="fb-table icon-wrap">
											<div class="fb-table-cell">
												<div>
													<span class="icon icon-alarmclock"></span>
													<h6>About Us<br/></h6>
												</div>	
												<p class="fb-table">
													<b class="fb-table-cell" style="text-align:justify";>
													The Department of Information Technology is headed by Dr.A.SRINIVASAN with 11 efficient staff members.The Department of Information Technology strives to make them one of a kind in the field of engineering.

													</b>
												</p>
											</div>
										</div>	
									</div>	
								</div>
				
								
								<div class="col-lg-4  col-xs-6 pad-zero features-block">
									<div class="wow bounceIn" data-wow-duration=".8s">
										<div class="fb-table icon-wrap">
											<div class="fb-table-cell">
												<div>
													<span class="icon icon-tools-2"></span>
													<h6>Mission<br/></h6>
												</div>	
												<p class="fb-table">
													<b class="fb-table-cell" style="text-align:justify";>
													To educate the future software engineers with strong fundamentals by continuously improving the teaching learning methodologies using contemporary aids.
													</b>
												</p>
											</div>
										</div>
									</div>	
								</div>
								<!--
								<div class="col-lg-4  col-xs-6 pad-zero features-block">
									<div class="wow bounceIn" data-wow-duration=".8s">
										<div class="fb-table icon-wrap">
											<div class="fb-table-cell">
												<div>
													<span class="icon icon-layers"></span>
													<h6>classic<br/> font icons</h6>	
												</div>
												<p class="fb-table">
													<b class="fb-table-cell">
													Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
													</b>
												</p>
											</div>
											
										</div>
									</div>	
								</div>
								<div class="col-lg-4  col-xs-6 pad-zero features-block">
									<div class="wow bounceIn" data-wow-duration=".8s">
										<div class="fb-table icon-wrap">
											<div class="fb-table-cell">
												<div>
													<span class="icon icon-tools"></span>
													<h6>additional<br/> menu styles</h6>
												</div>
												<p class="fb-table">
													<b class="fb-table-cell">
													Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
													</b>
												</p>
											</div>
										</div>	
									</div>	
								</div>
								<div class="col-lg-4  col-xs-6 pad-zero features-block">
									<div class="wow bounceIn" data-wow-duration=".8s">
										<div class="fb-table icon-wrap">
											<div class="fb-table-cell">
												<div>
													<span class="icon icon-twitter"></span>
													<h6>Social Media<br/>Feeds</h6>
												</div>
												<p class="fb-table">
													<b class="fb-table-cell">
													Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
													</b>
												</p>
											</div>
										</div>	
									</div>	
								
								</div>
							</div>
							-->
						</div>
					</div>
				</div>
				
			</section>
			<!--/Features Sec-->
			
			<!--Video Sec-->
			<section class="section video-sec" id="section4">
				
				<div class="video-sec-wrap sec-pad">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-12 margin-bottom-sm-50 wow fadeInLeft" data-wow-duration=".8s">
								<div id="video_player">
									
									<!--Video Player-->
									<div class="video-gal" data-src="https://www.youtube.com/watch?v=__GomEgP40w">
									
										<iframe width="555" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0" class="img-resonsive"> </iframe>
											<!--<img src="img\project4.jpg" class="img-responsive" alt="Image description"> -->
									
									</div>
									<!--/Video Player-->
									
								</div>
							</div>
							<div class="col-md-offset-1 col-md-5 col-sm-12 text-left wow fadeInRight" data-wow-duration=".8s">
								<h2 class="margin-bottom-23"><i>Block Chain</i><br/></h2>
								<p style="font-size:15px; font-family:'Comic Sans MS', cursive, sans-serif; text-align:justify;">
									A blockchain, is a growing list of records, called blocks, which are linked using cryptography. Blockchains which are readable by the public are widely used by cryptocurrencies. Private blockchains have been proposed for business use. Some marketing of blockchains has been called "snake oil".
								</p>
							</div>
						</div>
					</div>
				</div>
				
			</section>
			<!--/Video Sec-->
			
			<!--Portfolio Sec-->
			<section class="section portfolio-sec" id="section5">
				
				<div class="portfolio-sec-wrap sec-pad">
					<div class="container">
						<h2 class="text-center wow fadeInUp" data-wow-duration=".8s"><i>Core Committee</i>.</h2>
					</div>
					<div class="portfolio-wrap wow bounceIn" data-wow-duration=".8s">
						
						<!--Rotational Slider-->
						
						<div id="rot_slider" class="rotateslider-container">
							<div id="portfolio">
								<div class="rotateslider-item" data-src="http://vimeo.com/1084537" data-poster="img/project1.jpg" data-sub-html="<h6>Instagram</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
									<a href="">
										<img src="img/hemanthi.jpg" alt="project">
										<div class="hover"><span>+</span></div>
									</a>
									<h6>Ms. Hemanthi, Student President</h6>
									
								</div>
								<div class="rotateslider-item" data-src="img/project2.jpg"  data-sub-html="<h6>Nativ Place</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
									<a href="">
										<img src="img/goutham.png" alt="project">
										<div class="hover"><span>+</span></div>
									</a>
									<h6>Mr. Goutham, Student Secretary</h6>
								</div>
								<div class="rotateslider-item" data-src="img/project3.jpg"  data-sub-html="<h6>Dog.inc</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
									<a href="">
										<img src="img/project3.jpg" alt="project">
										<div class="hover"><span>+</span></div>
									</a>
									<h6>Mr. Manoj, Student Treasurer</h6>
								</div>
								<div class="rotateslider-item" data-html="#video1" data-poster="img/project4.jpg" data-sub-html="<h6>Viva</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
									<a href="">
										<img src="img/vijay.png" alt="project">
										<div class="hover"><span>+</span></div>
									</a>
									<h6>Mr. Vijay Krishnamoorthy, Web Master</h6>
								</div>
								<div class="rotateslider-item"  data-src="http://www.youtube.com/watch?v=Pq9yPrLWMyU" data-poster="img/project5.jpg" data-sub-html="<h6>Oh Girls</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
									<a href="">
										<img src="img/Mahesh.png" alt="project">
										<div class="hover"><span>+</span></div>
									</a>
									<h6>Mr. Magesh, Design Head</h6>
								</div>
								<div class="rotateslider-item"  data-src="img/project6.jpg"  data-sub-html="<h6>Tattoo Diaries</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
									<a href="">
										<img src="img/mohan.png" alt="project">
										<div class="hover"><span>+</span></div>
									</a>
									<h6>Mr. Mohan Kumar, Advertisement Head</h6>
								</div>
							</div>	
							<span class="arrow right js-rotateslider-arrow" data-action="next"><img src="img/rightarrow.png" alt="nav"/></span>
							<span class="arrow left js-rotateslider-arrow" data-action="prev"><img src="img/leftarrow.png" alt="nav"/></span>
						</div>
						<!--/Rotational Slider-->
						
						<!-- Hidden video div -->
						<div style="display:none;" id="video1">
							<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
								<source src="videos/callida.mp4" type="video/webm">
								<source src="C:\Users\sdlab\Desktop\TEMP-20180831T071343Z-001\TEMP\videos\callida.webm" type="video/webm">
								 Your browser does not support HTML5 video.
							</video>
						</div>
						<!-- /Hidden video div -->
						
					</div>	
				</div>	
			
			</section>
			<!--/Portfolio Sec-->
			
			<!--Team Sec-->
			<section class="section team-sec" id="section6">
				
				<div class="team-sec-wrap sec-pad">
					<div class="container">
						<h2 class="text-center wow fadeInUp" data-wow-duration=".8s"><i>Design Team</i></h2>
					</div>
					<div class="team-slider-wrap wow fadeInUp" data-wow-duration=".8s">
						
						<!-- Team Slider -->
						<div class="team-slider">
							<div class="team-person">
								<div class="person-img-wrap">
									<img class="img-responsive" src="img/team1.jpg" alt="team"/>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<p>
											"It always seems impossible until its done.</p>
												<!--Person Social Icons-->
												<ul class="social-icons">
													<li>
														<a href="#" class="social-icon">
															<span class="fab fa-twitter"></span>
														</a>
													</li>
													<li>
														<a href="#" class="social-icon">
															<span class="fab fa-facebook"></span>
														</a>
													</li>
													<li>
														<a href="#" class="social-icon">
															<span class="fab fa-instagram"></span>
														</a>
													</li>
												</ul>
												<!--/Person Social Icons-->
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="per-detail margin-top-20">
									<span class="p-name">Mr. Magesh,&nbsp;</span>
									<span class="p-desn">Head</span>
								</div>
							</div>
							<div class="team-person">
								<div class="person-img-wrap">
									<img class="img-responsive" src="img/team2.jpg" alt="team"/>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<p>
											"It always seems impossible until its done.</p>
												<!--Person Social Icons-->
												<ul class="social-icons">
													<li>
														<a href="#" class="social-icon">
															<span class="fab fa-twitter"></span>
														</a>
													</li>
													<li>
														<a href="#" class="social-icon">
															<span class="fab fa-facebook"></span>
														</a>
													</li>
													<li>
														<a href="#" class="social-icon">
															<span class="fab fa-instagram"></span>
														</a>
													</li>
												</ul>
												<!--/Person Social Icons-->
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="per-detail margin-top-20">
									<span class="p-name">Mr. Vijay Krishnamoorthy,&nbsp;</span>
									<span class="p-desn">Web Designer</span>
								</div>
							</div>
							<div class="team-person">
								<div class="person-img-wrap">
									<img class="img-responsive" src="img/team2.jpg" alt="team"/>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<p>
											"It always seems impossible until its done.</p>
												<!--Person Social Icons-->
												<ul class="social-icons">
													<li>
														<a href="#" class="social-icon">
															<span class="fab fa-twitter"></span>
														</a>
													</li>
													<li>
														<a href="#" class="social-icon">
															<span class="fab fa-facebook"></span>
														</a>
													</li>
													<li>
														<a href="#" class="social-icon">
															<span class="fab fa-instagram"></span>
														</a>
													</li>
												</ul>
												<!--/Person Social Icons-->
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-dark.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="per-detail margin-top-20">
									<span class="p-name">Goutham MC,&nbsp;</span>
									<span class="p-desn">website developer</span>
								</div>
							</div>
						
			
						</div>
						<!-- /Team Slider -->
					</div>	
				</div>
				
			</section>	
			<!--/Team Sec-->
			
			<!--Contact Sec-->
			<section class="section contact-sec" id="section7">
				
				<div class="contact-sec-wrap sec-pad-top sec-pad-bottom-sm wow fadeInUp" data-wow-duration=".8s">
					<div class="container" data-ng-controller="ContactController">
						<h2 class="text-center">Hello <i><span  data-ng-bind="formData.inputName||'friend'"></span></i>, We'd love to<br/> hear from you.</h2>
						<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="row form-horizontal" role="form">
							
							<!--Address-->
							<div class="contact-add col-md-2 col-sm-6 col-xs-6 margin-top-xs-15">
								<h6>contact</h6>
								<p><b><i>MISRIMAL NAVAJEE MUNOTH JAIN ENGINEERING COLLEGE</i></b></p>
								<p>Guru Marudhar Kesari Building, Subramanya Nagar St Rd, Thorapakkam, Jyothi Nagar, Chennai, Tamil Nadu 600097</p>
								<a href="mailto:callida18@gmail.com" target="_blank">Callida18@gmail.com</a>
								<a href="callto:755868523645" target="_blank">+91 9597314403</a>
							</div>
							<!--/Address-->
							
							<!--Contact Form-->
							<div class="contact-form-wrap col-md-offset-1 col-md-6 col-sm-12 ">
								<div class="col-sm-6 col-xs-6 pad-left-zero">
									<div class="form-group" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
										<div class="input-wrap">
											<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input " id="inputName" name="inputName" placeholder="Name" required>
										</div>	
									</div>
									<div class="form-group" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
										<div class="input-wrap">
											<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field " placeholder="Email" id="inputEmail" name="inputEmail" required>
										</div>	
									</div>
								</div>	
								<div class="col-sm-6 col-xs-6 pad-right-zero">
									<div class="form-group" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
										<div class="input-wrap">
											<textarea data-ng-model="formData.inputMessage" class="form-control input input__field " rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
										</div>	
									</div>
								</div>	
								<div class="form-group col-sm-12 col-xs-12 pad-zero">
									<div class="align-center">
										<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
										<span class="mask"></span>
										<span>send message</span>
										</button>
									</div>
								</div>
								<p class="form-msg" data-ng-class="result">{{ resultMessage }}</p>
							</div>
							<!--/Contact Form-->
							
							<!--Social Connenctivity-->
							<div class="connect-add col-md-offset-1 col-md-2 col-sm-6 col-xs-6 margin-top-xs-15">
								<h6>connect</h6>
								
								<!--Social Links-->
								<ul class="social-links col-sm-4 pad-zero">
									<li>
										<a href="#" class="social-link">
											facebook
										</a>
									</li>
									<li>
										<a href="#" class="social-link">
											twitter
										</a>
									</li>
									<li>
										<a href="#" class="social-link">
											Instagram
										</a>
									</li>
								</ul>
								<!--/Social Links-->
								
								<a class="gmap-link" href="https://goo.gl/maps/9kt6k6fWeJH2" target="_blank"><h6>google map</h6>
								</a>
							</div>
							<!-- /Social Connenctivity-->
							
						</form>
					</div>
				</div>
			
			</section>
			<!--/Contact Sec-->
			
			<!--Map Sec-->
			<section class="section map-sec" id="section8">
				<div id="map_canvas"></div>
			</section>
			<!--/Map Sec-->
		</div>
		<!--/Main Content-->
	
		<!--Notify Popup-->
		<div class="md-modal md-effect-2" id="modal-2">
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe4fzubT8W_jiirbnD_s1W2RGWZOYvR5FbJ-zj4vWb6Ey4m3w/viewform?embedded=true" width="500" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</div>
		<div class="md-overlay"></div>
		<!--/Notify Popup-->
		
		<!--Style-customizer -->
		<div id="app_customizer" class="app-customizer">
			<a href="#" class="app-customizer-toggle">
				<i class="fa fa-gear"></i>
			</a>
			<div class="colors">
				<span id="pink_pick"></span>
				<span id="blue_pick"></span>
				<span id="green_pick"></span>
				<span id="orange_pick"></span>
			</div>
		</div>
		<!-- /Style-customizer -->
		
		<!-- Scripts -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/notifyMe.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.fullpage.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/jquery.newsTicker.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/main.js"></script>
		<script src="js/jquery.rotateSlider.js"></script>
		<script src="js/modelclassie.js"></script>
		<script src="js/modalEffects.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/jquery.particleground.min.js"></script>
		<script src="js/jquery.logosDistort.js"></script>
		<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
		<script src="js/init.js"></script>
		
						
						
						
						
						
	</body>
</html>
